<div id="error" class="grid_16">
<noscript><p>Javascript is required for this site to function.</noscript>
</div>

<div class="grid_8">
  <h2>Currently Playing
  <button id="mute">Mute</button>
  <span id="songRemaining"></span>
  </h2>
  <div id="playing"></div>

  <h2>Queue 
  <button id="add">Add Music</button>
  (<span id="queueDuration">0:00</span>)</h2>
  <ol id="pending"></ol>

</div> <!-- .grid_8 -->

<div class="grid_8">
  <h2>Chat</h2>

  <form id="formNickname">
  <p><input type="checkbox" id="time24" name="time24" checked="true" />
  <label for="time24">Use a 24 hour clock?</label></p>
  <p><label for="nickname">You:</label>
  <input id="nickname" type="text" name="nickname" maxlength="32" />
  <input id="change" type="submit" value="change" /></p>
  <p><select id="chatMembers" size="10" multiple="true"></select></p>
  </form>


  <form id="formChat">
  <p><input id="message" type="text" name="message" maxlength="255" />
  <input id="say" type="submit" value="say" /></p>
  </form>
 
  <div id="chatHistory"><ul></ul></div>

</div>
